::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 100000 !important; /* set value you need */
}

.validateDate {
    color: orange;
    position: absolute;
    top: 33px;
}

.label-bold {
    font-weight: 500;
}
